<html>
  <head>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="css/mdb.min.css" />
    <!-- custom styles (optional) -->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <style>
    .card {
      width: 50%;
      position: relative;
      left: 160;
      margin: 100px;
    }
    .form-header {
      /* width: 80%; */
      position: relative;
      left: 0;
      text-align: center;
    }
  </style>
  <body>
    <!--Form with header-->
    <div class="card">
      <div class="card-block">
        <!--Header-->
        <div class="form-header blue-gradient">
          <h3><i class="fa fa-user"></i> Register:</h3>
        </div>

        <!--Body-->
        {% csrf_token %}
        {{ form }} 
        <button class="btn btn-warning" value="submit" >Submit</button>
    <!--/Form with header-->
  </body>
</html>
